/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.main-container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

// Fix input label padding to prevent overlap
.v-input {
  padding-top: 1em;
}

